In [1]:
import pandas as pd

In [23]:
def read_data(file_path):
    babies_data = []
    with open(file_path) as file:
        for line in file:
            babies_data.append(line.split())

    return pd.DataFrame(babies_data)

In [24]:
df = read_data('data/babies23.data')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1237 entries, 0 to 1236
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1237 non-null   object
 1   1       1237 non-null   object
 2   2       1237 non-null   object
 3   3       1237 non-null   object
 4   4       1237 non-null   object
 5   5       1237 non-null   object
 6   6       1237 non-null   object
 7   7       1237 non-null   object
 8   8       1237 non-null   object
 9   9       1237 non-null   object
 10  10      1237 non-null   object
 11  11      1237 non-null   object
 12  12      1237 non-null   object
 13  13      1237 non-null   object
 14  14      1237 non-null   object
 15  15      1237 non-null   object
 16  16      1237 non-null   object
 17  17      1237 non-null   object
 18  18      1237 non-null   object
 19  19      1237 non-null   object
 20  20      1237 non-null   object
 21  21      1237 non-null   object
 22  22      1237 non-null   object
dtypes: object(23)
memory usage: 222.4+ KB